<section id='ee-section'>
	<article class='ee-article-banner'>
		<div class='wrap'>	
			<div id="slider">
				<ul>
					<li><a href="#"><img src="assets/slider/05.jpg" alt="Css Template Preview"></a></li>				
					<li><a href="#"><img src="assets/slider/01.jpg" alt="Css Template Preview"></a></li>
					<li><a href="#"><img src="assets/slider/02.jpg" alt="Css Template Preview"></a></li>
					<li><a href="#"><img src="assets/slider/03.jpg" alt="Css Template Preview"></a></li>
					<li><a href="#"><img src="assets/slider/04.jpg" alt="Css Template Preview"></a></li>
					<li><a href="#"><img src="assets/slider/05.jpg" alt="Css Template Preview"></a></li>			
					<li><a href="#"><img src="assets/slider/01.jpg" alt="Css Template Preview"></a></li>
				</ul>
			</div>
		</div>
	</article>
	<div class='wrap'>			
		<div class='ee-article-block'>
			<article class='ee-article'>
				<div class='ee-article-img'>
					<img src='assets/customers/kika.png' width="100%" height="100%">
				</div>
				<div class='ee-article-info'>
					<h1 class='ee-title'>Decoração, doces e arte em balões personalizados...</h1>
					<p class='ee-details'>
						A mais de 10 anos fazendo da sua festa um evento, contamos com profissionais de confiança tanto para atendimento...
					</p>
				</div>
			</article>			
			<article class='ee-article'>
				<div class='ee-article-img'>
					<img src='assets/customers/artealegria.png' width="100%" height="100%">
				</div>
				<div class='ee-article-info'>
					<h1 class='ee-title'>Decoração, balões e entretenimento...</h1>
					<p class='ee-details'>
						Somos uma empresa que desde o ano de 2004 temos trabalhado com competência e honestidade na prestação de serviços para festas infantis e eventos empresariais diversos...
					</p>
				</div>
			</article>
			<article class='ee-article'>
				<div class='ee-article-img'>
					<img src='assets/customers/abcfest.png' width="100%" height="100%">
				</div>
				<div class='ee-article-info'>
					<h1 class='ee-title'>Locação de brinquedos e decoração infantil...</h1>
					<p class='ee-details'>
						O aniversario é a data mais esperada pelas crianças, um momento unico na vida de cada uma. E por isso estamos a cada dia buscando nós aperfeiçoar em nossos serviços para fazer de sua festa uma festa encantada...
					</p>
				</div>
			</article>
			<article class='ee-article'>
				<div class='ee-article-img'>
					<img src='assets/customers/alinebuffet.png' width="100%" height="100%">
				</div>
				<div class='ee-article-info'>
					<h1 class='ee-title'>Buffet</h1>
					<p class='ee-details'>
						Desde 1991 no mercado de festas infantis, casamentos, debutantes, formaturas, bodas, tornou-se referência em Campinas, quando o assunto é festa...
					</p>
				</div>
			</article>
			<article class='ee-article'>
				<div class='ee-article-img'>
					<img src='assets/customers/animadafesta.png' width="100%" height="100%">
				</div>
				<div class='ee-article-info'>
					<h1 class='ee-title'>Brinquedos, recreação, pintura facial...</h1>
					<p class='ee-details'>
						Nós da Animada Festa somos uma empresa especializada na locação de brinquedos, recreação,pintura facial e modelagem de balões...
					</p>
				</div>
			</article>
			<article class='ee-article'>
				<div class='ee-article-img'>
					<img src='assets/customers/kitparafesta.png' width="100%" height="100%">
				</div>
				<div class='ee-article-info'>
					<h1 class='ee-title'>Kit festas</h1>
					<p class='ee-details'>
						Com grande variedade de salgadinhos e docinhos temos o prazer de atender a sua festa, seja ela para...
					</p>					
				</div>
			</article>
			<article class='ee-article'>
				<div class='ee-article-img'>
					<img src='assets/customers/romana.png' width="100%" height="100%">
				</div>
				<div class='ee-article-info'>
					<h1 class='ee-title'>Confeitaria</h1>
					<p class='ee-details'>
						Fundada em 1996, em Campinas. Desde então, criou-se mais do que um novo conceito, mas sim, uma nova referência em...
					</p>						
				</div>
			</article>
		</div>
		<aside class='ee-aside'>
			<ins class="adsbygoogle"
			style="display:inline-block;width:160px;height:600px"
			data-ad-client="ca-pub-3491692498979935"
			data-ad-slot="3547706704"></ins>
			<script type="text/javascript">
				(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</aside>			
	</div>
	<article class='ee-article-little'>
		<div class='wrap'>			
			ANUNCIOS
		</div>
	</article>
</section>
<script type="text/javascript">
	$(document).ready(function(){	
	$("#slider").easySlider({
		auto: true,
		continuous: true,
		numeric: true
	});
});
</script>